<% include partials/header %>

<h1>You fell in love with: <%= thingVar.toUpperCase() %></h1>

<% if (thingVar.toLowerCase() === "nick") { %>
    <p>Good Choice! Nick is the best!</p> 
<% } %>

<p>P.S. this is a love.ejs file.</p>

<% include partials/footer %>