p {

/*Content - Width and Height*/
width: 200px;
height: ;

/*Border*/

border: 2px solid blue;

/*Padding*/
/*padding: 10px;*/
padding-left: 40px;

/*Margin*/
/*margin: 100px;*/
/*margin-top: 500px;*/
/*margin: 20px 40px 80px 160px;  top right bottom left*/
/*margin: 0 auto 0 auto;*/
margin: 0 auto;  /*same as above*/

}