<% include ./partials/header %>

<h1>Login Page</h1>

<form action="/login" method="POST">
   <input type="test" name="username" placeholder="username">
   <input type="password" name="password" placeholder="placeholder">
   <input type="submit" value="login">
</form>

<% include ./partials/footer %>