* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.clearfix:after {
	content: "";
	display: table;
	clear: both;
}

body {
	font-family: Helvetica Neue, Arial;
	font-size: 18px;
}

h1 {
	margin-bottom: 20px;
	color: green;
	font-size: 40px;
	font-family: Helvetica Neue, Arial;
}

h2 {
	color: green;
	font-size: 25px;
	font-family: Helvetica Neue, Arial;
}

.container {
	width: 1140px;
	margin: 20px auto 0 auto; /*top right bottom left*/

}

.blog-post {
	/*background-color: #0000ff;*/
	width: 75%;
	float: left;
	padding-right: 30px;
	position: relative;
}

.date {/* make sure the parent is position: relative;*/
	position: absolute;
	top: 0;
	right: 30px;
}

.other-posts {
	/*background-color: #00ff00;*/
	width: 25%;
	float: left;
}

.other {
	margin-bottom: 40px;
}

.author-box {
	/*background-color: #ff0000;*/
	padding-top: 20px;
	border-top: 1px solid #808080;
}

.author-box img {
	border-radius: 50%;
	float: left;
}

.main-text {
	text-align: justify;
	margin-bottom: 20px;
}

#author-text {
	font-size: 22px;
}